<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="etablissement">
            <h2><span jhiTranslate="uvsPartenariatsApp.etablissement.detail.title">Etablissement</span> {{ etablissement.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="uvsPartenariatsApp.etablissement.nomEtablissement">Nom Etablissement</span></dt>
                <dd>
                    <span>{{ etablissement.nomEtablissement }}</span>
                </dd>
                <dt><span jhiTranslate="uvsPartenariatsApp.etablissement.location">Location</span></dt>
                <dd>
                    <div *ngIf="etablissement.locationId">
                        <a [routerLink]="['/location', etablissement.locationId, 'view']">{{ etablissement.locationId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/etablissement', etablissement.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
